
<form 
    method="post">
  
    <div class="form-group">
    <label for="exampleInputEmail1"> <b>ID</b> </label>
    <input type="number" name="FormID" class="form-control" id="exampleInputEmail1"  placeholder="Enter ID">
    </div>

  <br />

  <div class="form-group">
		<label for="exampleInputPassword1"> <b>Name</b> </label>
        <input type="text" name="FormName" class="form-control" id="exampleInputPassword1" placeholder="Enter Name">
  </div>

  <br />

  <div class="form-group">
      <label for="exampleInputPassword1"> <b>Address</b> </label>
      <input type="text" name="FormAddress" class="form-control" id="exampleInputPassword1" placeholder="Enter Address">
  </div>
    <br />

  <button type="submit" class="btn btn-primary" >Submit</button>

</form>
 


<br />

<a href="/Student/GetAllStudents" class="btn btn-primary">Go Back</a>

